/*
	#Author: Adrian Nowak;
	#Project: 3D Printing World;
	#Notes: CSS for Expandable List;
	#Resources: http://www.lynda.com/jQuery-tutorials/Create-Expandable-FAQ-Listing-jQuery/87090-2.html;
*/

.tutorialBox {
	margin: 20px;
	padding: 0px 0px 5px 0px;
	width: 100%;
	max-width: 700px;
	margin: auto;
	overflow: hidden;
}

.tutorialArticle {
	margin: 0 10px 20px 10px;
	padding: 10px;
	border: solid 2px #0000FF;
}

.articleTitle { 
	padding: 0px 0px 5px 0px; 
	display: inline-block; 
	cursor: pointer; 
	font-weight: normal; 
	text-align: center;
	width: 100%
}
.articleTitle h2 {
	font-weight: normal;
	text-align: center;
	font-family: 'Lato', Arial;
}

.articleContent { 
	height: 0px; /*hidden*/
	overflow: hidden;  
	color: #000;
	font-family: arial; 
}
.articleContentInside { 
	color: #000;
	font-family: arial; 
	font-weight: normal; 
	text-align: left;
 }
 .listHolder{
	margin: auto;
	width: 100%;
	max-width: 900px;
	overflow: hidden;
}