/*Tooltip*/
/*http://www.cssportal.com/css-tooltip-generator/*/

		a.tooltips {
		  position: relative;
		  display: inline;
		}
		a.tooltips span {
		  position: absolute;
		  width:260px;
		  color: #FFFFFF;
		  background: #0066FF;
		  height: 60px;
		  line-height: 30px;
		  text-align: center;
		  visibility: hidden;
		  border-radius: 0px;
		  font-family: arial;
		  font-size: 13px;
		}
		a.tooltips span:after {
		  content: '';
		  position: absolute;
		  bottom: 100%;
		  left: 50%;
		  margin-left: -8px;
		  width: 0; height: 0;
		  border-bottom: 8px solid #0066FF;
		  border-right: 8px solid transparent;
		  border-left: 8px solid transparent;
		}
		a:hover.tooltips span {
		  visibility: visible;
		  opacity: 1.0;
		  top: 30px;
		  left: 50%;
		  margin-left: -126px;
		  z-index: 999;
		}
		img{
			display: inline;
		}

		/*END OF Tooltip